ipykernel
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.3.2
matplotlib
seaborn
tensorflow==2.15.0
tensorboard
streamlit
keras
scikeras
nltk
langchain
python-dotenv
langchain_community
pypdf
beautifulsoup4
lxml 
requests 
html5lib
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
python-dotenv
sentence_transformers
langchain-huggingface
faiss-cpu
chromadb
langchain_chroma
langchain-google-genai
langchain-groq
beautifulsoup4
cohere